<div class="container">
<form action="" class="users-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search username" [(ngModel)]="username" name="username" (keyup)="findRepo()">
    </div>
  </form>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <p> {{repo.name}}</p>
          <img src="{{repo.avatar_url}}">
        
        </div>

        <div class="col-md-6">
    <div class="row">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item" *ngIf="repo.bio">{{repo.bio}}</li>
          <li class="list-group-item" *ngIf="repo.email">{{repo.email}}</li>
        </ul>
      </div>
      <div class="col-md-6">
        
          <div  class="label label-default"> Followers: {{repo.followers}}</div>
          <div class="label label-default"> Following: {{repo.following}}</div>
          <div class="label label-default"> Repos: {{repo.public_repos}} </div>
            <p><a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-success btn-sm">Show info</a></p>
             <p>
        <a href="{{repo.html_url}}" class="btn btn-sm btn-warning">Show repos</a>
     </p>
        
        </div>
    </div>
   
  </div>
    
    <div class="row">
      <div class="panel-body" *ngFor="let repos of repos" index=i>
        {{repos.name}}
      </div>   
   
  </div>
  </div>
  </div>
</div>